<div class="panel panel-default">
    <div class="panel-heading">Payment</div>

    <div class="panel-body">
        <!-- cart table -->
        <table id="cart-table" class="table table-striped" align="center">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in order.items">
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>£ {{getItemTotalPrice(item)}}</td>
                </tr>
            </tbody>
        </table>

        <!-- payment table-->
        <table id="payment-table" class="table table-striped" align="center">
            <thead>
                <tr>
                    <th>Order Total</th>
                    <th>Payment Amount</th>
                    <th>Pay</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        <!--display total cost of order -->
                        <span id="order-total" class="input-group-addon">£{{getOrderTotalPrice()}}</span>
                    </td>
                    <td align="center">
                        <!-- retrieve the payment amount -->
                        <div id="payment-input" class="input-group">
                            <span class="input-group-addon currency">£</span>
                            <input class="form-control payment-amount" type="number" step="0.01"
                                   placeholder="0.00" min="0" ng-model="order.reciept.payment"/>
                        </div>
                    </td>
                    <td align="center">
                        <!-- submit payment -->
                        <button type="submit" class="btn btn-default" ng-click="pay()">Submit Payment</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- error/success messages to the user -->
        <div class="panel panel-success payment-success" ng-show="paymentSuccess">
            <div class="panel-heading">Payment Success!</div>
            <div class="panel-body">
                Your payment has been recieved, and your change is £{{(order.reciept.change).toFixed(2)}}.
            </div>
        </div>
        <div class="panel panel-danger payment-failure" ng-show="paymentError">
            <div class="panel-heading">Payment Failure!</div>
            <div class="panel-body">
                There was an error whilst processing your payment. Please try again.
            </div>
        </div>
    </div>
</div>