<div class="panel panel-default">
    <!-- default panel contents -->
    <div class="panel-heading">Menu</div>
    <div class="panel-body">
        <!-- messages to the user regarding order creation success/failure -->
        <div class="alert alert-success" role="alert" ng-show="order">
            Order number {{order.id}} has been successfully created.
        </div>
        <div class="alert alert-danger" role="alert" ng-show="createOrderError">
            There was an error when trying to create a new order - please refresh the page.
        </div>
    </div>

    <!-- the template for the menu item table -->
    <div class="alert alert-danger" role="alert" ng-show="getAllItemsError">
        There was an error retrieving the menu - please refresh the page.
    </div>

    <table id="items-table" class="table table-striped">
        <thead>
            <tr>
                <th>Item Number</th>
                <th>What You're Buying</th>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity To Add</th>
                <th>Current Quantity</th>
                <th>Add to Cart</th>
            </tr>
        </thead>

        <tbody ng-repeat="item in menu">
            <tr>
                <!-- id -->
                <td class="item-id">{{item.id}}</td>
                <!-- picture -->
                <td>
                    <img class="item-picture" ng-src="images/{{item.name}}.jpg" src="images/default.jpg"/>
                </td>
                <!-- item -->
                <td>{{item.name}}</td>
                <!-- price -->
                <td class="item-price">{{item.price}}</td>
                <!-- qty being added -->
                <td>
                    <label>Quantity: </label>
                    <input class="quantity-input" type="number" placeholder="0" max="15" min="0"
                           ng-model="item.quantity" />
                </td>
                <!-- current order qty-->
                <td>{{getTotalQtyForItem(item)}}</td>
                <!-- add to cart -->
                <td class="add-to-cart">
                    <div class="cart-button" ng-click="addToCart(item)">
                        Add to Cart
                    </div>
                    <br/>
                    <div class="alert-success" role="alert" ng-show="orderContainsItem(item)">
                        Item added to cart!
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <ul class="progressButtons">
        <li>
            <button type="button" class="btn btn-danger reload" ng-click="reloadPage()">Start again</button>
        </li>
        <li>
            <button type="button" class="btn btn-success checkout" ng-click="checkout()">Checkout</button>
        </li>
    </ul>
</div>

