/* NAVBAR */
#logo-image {
    height: 50px;
    width: 50px;
}

.navbar-brand {
    font-size: 18pt;
}

/* PAGE BODY */
h3 {
    text-align: center;
}

/* TABLE LAYOUT */
.panel {
    margin-left: auto;
    margin-right: auto;
}

.panel-heading {
    text-align: center;
    font-size: 14pt;
}

.panel-body {
    text-align: center;
}

.panel-default {
    width: 95%;
}

th {
    text-align: center;
    width: 20%;
}

tr {
    text-align: center;
    width: 20%;
}

/* TABLE CONTENT */
label {
    font-weight: normal;
    font-style: italic;
}

.quantity-input {
    width: 50px;
    background-color: rgba(231, 195, 195, 0.46);
}

.cart-button {
    cursor: pointer;
    padding: 1%;
    border: 1px solid #381f09;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}
.cart-button:hover, .cart-button:focus {
    background-color: rgba(231, 195, 195, 0.46);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}
